<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', LinkedRails.iri(path: 'u/unlock/edit', query: {unlock_token: @token}.to_param).to_s %></p>
